.container1{
   height: 40px;
   margin-top: 10px;
   display: flex;
   justify-content: left;
   align-items: left;
}
#div1{
    height: 40px;
    margin-top: 30px;
    display: flex;
    justify-content: left;
    align-items: left;
}
